+b.SECTION.intro
    +e.bg.position
        img(src="/img/intro-bg.jpg" alt="").object-fit
    .container
        +e.inner
            +e.content.content__.css-text-center
                +b.H1 One app, all <br> things money
                +b.P.color-blue Open a free account in minutes right from your phone, <br> and make your money go further
            +btn(true, true) Get started