mixin btn(link = true, arrow = false)
    if (link)
        +e.A.btn.js-btn.btn__(href='#')&attributes(attributes)
            +e.back.js-circles
            +e.SPAN.text
                if block
                    block
            if arrow
                +e.SPAN.arrow
                    +icon('gobbler')

    else
        +e.BUTTON.btn.js-btn.btn__()&attributes(attributes)
            +e.back.js-circles
            +e.SPAN.text
                if block
                    block
            if arrow
                +e.SPAN.arrow
                    +icon('gobbler')
