.hamburger {
  display: none;
  transition: ease-in .25s;
  @include small-tablet {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 51;
    fill: var(--color-gray)
  }
  &.is-active {
    fill: var(--color-blue)
  }
}