.menu {
  &__list {
    display: flex;
    align-items: center;
    @include small-tablet {
      display: block;
      padding-right: 4rem;
    }
  }

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 6rem;
      margin-bottom: 1rem;
      @include large-tablet {
        margin-right: 3rem;
      }
      @include small-tablet {
        margin-right: 0;
      }
    }
    @include small-tablet {
      &.is-pointer {
        & > .menu__link {
          pointer-events: none;
        }
      }
    }

    &:hover {
      & > a {
        color: var(--color-blue-hover);

        .icon {
          fill: var(--color-blue-hover);
          transform: rotate(180deg);
        }
      }
      .menu__dropdown {
        opacity: 1;
        visibility: visible;
        @include small-tablet {
          max-height: 100rem;
          transition: max-height 0.25s ease-in;
        }
      }
    }

  }

  &__link {
    font-size: 2.5rem;
    line-height: 1.52em;
    transition: ease-in .2s;
    @include large-tablet {
      font-size: 2rem;
      line-height: 1.4em;
    }
    .icon {
      width: 2rem;
      height: 2rem;
      fill: var(--color-black);
      vertical-align: middle;
      margin-left: .5rem;
      transition: ease .2s;
    }
  }

  @include small-tablet {
    position: fixed;
    width: calc(100% - 1rem);
    background-color: #E1E1E1;
    border-radius: 3.5rem 0 3.5rem 3.5rem;
    z-index: 50;
    height: calc(100vh - 2rem);
    top: 0;
    right: 0;
    padding: 10rem 4rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: ease-in .25s;
    &_open {
      transform: translateX(0);
    }
  }
}